.side-panel {
   display: flex;
   flex-direction: column;
   flex: 0 0 auto;
   margin: 0 30px;
   padding-right: 30px;
   border-right: 1px solid #eee;
   overflow-y: auto;
   height: 100vh;
}

.side-panel h1 {
   font-weight: 900;
   margin-top: 25px;
   margin-bottom: 0;
}

.side-panel h2 {
   margin-top: 30px;
}

.side-panel form {
   display: flex;
   flex-direction: column;
}

.side-panel label {
   margin: 10px 0;
}

.side-panel input[type="number"] {
   width: 100%;
   margin-top: 5px;
   font-size: 1.3rem;
   border: none;
   border-bottom: 3px solid var(--light-blue);
   outline: none;
}

.side-panel button {
   font-size: 1.2rem;
   font-weight: 700;
   margin: 20px 0;
}

.collapsible:first-of-type {
   margin-top: 20px;
}

.collapsible button {
   --size: 40px;
   width: var(--size);
   height: var(--size);
   border: 3px solid var(--light-blue);
   border-radius: calc(var(--size) / 2);
   padding: 0 5px;
   margin: 5px 10px;
   font-size: 24px;
   font-weight: 700;
   background: none;
   text-align: center;
   outline: none;
}

.collapsible p {
   margin-top: 10px;
}