:root {
   --light-blue: #06a4ed;
   --dark-blue: #149dd7;
   --light-orange: #ffaf2a;
   --dark-orange: #fd9f00;
   --light-gray: #3f3d40;
   --dark-gray: #2a2d32;
}

* {
   font-family: 'Montserrat', sans-serif;
}

html, body {
   margin: 0;
   user-select: none;
}

a {
   color: black;
}

::-moz-focus-inner {
   border: 0;
}

.game {
   display: grid;
   grid-template-columns: 340px auto;
}

/* other stuff */
